<extend name="Base/common"/>

<block name="header">
    <header>
        <div class="container">
            <h2>源自相同起点，演绎不同精彩！</h2>
        </div>
    </header>
</block>

<block name="side">
<!-- 左侧 nav
================================================== -->
    <div class="span3 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
        </ul>
    </div>
</block>

<block name="body">  
    <div class="span9">
        <!-- Contents
        ================================================== -->
        <section id="contents">

        </section>
    </div>
  
</block>