<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{$meta_title}|{:C('WEB_SITE_TITLE')}</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/base.css" media="all">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/common.css" media="all">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/module.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/style.css" media="all">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/default_color.css" media="all">
 <!--[if lt IE 9]>
<script type="text/javascript" src="__STATIC__/jquery-1.10.2.min.js"></script>
<![endif]--><!--[if gte IE 9]><!-->
<script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.mousewheel.js"></script>
<!--<![endif]-->
<script type="text/javascript" src="__PUBLIC__/Admin/js/common.js"></script>
</head>

<body>
	<div class="main-title cf">
		<h2>
			{$form.diyname}-><a href='{:addons_url("Diyform://HomeDiyform/index", array("form_id" => $form_id))}'>返回列表</a>
		</h2>
	</div>
	<!-- 标签页导航 -->
<div class="tab-wrap">
	<ul class="tab-nav nav">
		<volist name="field_group" id="group">
			<li data-tab="tab{$key}" <eq name="key" value="1">class="current"</eq>><a href="javascript:void(0);">{$group}</a></li>
		</volist>
	</ul>
	<div class="tab-content">
	<!-- 表单 -->
	<form id="form" action="__SELF__" method="post" class="form-horizontal">
		<!-- 基础文档模型 -->
		<volist name="field_group" id="group">
        <div id="tab{$key}" class="tab-pane <eq name="key" value="1">in</eq> tab{$key}">
            <volist name="fields[$key]" id="field">
                <if condition="$field['is_show'] == 1 || $field['is_show'] == 2">
                <div class="form-item cf">
                    <label class="item-label">{$field['title']}<span class="check-tips"><notempty name="field['remark']">（{$field['remark']}）</notempty></span></label>
                    <div class="controls">
                        <switch name="field.type">
                            <case value="num">
                                <input type="text" class="text input-mid" name="{$field.name}" value="{$field.value}">
                            </case>
                            <case value="string">
                                <input type="text" class="text input-large" name="{$field.name}" value="{$field.value}">
                            </case>
                            <case value="textarea">
                                <label class="textarea input-large">
                                <textarea name="{$field.name}">{$field.value}</textarea>
                                </label>
                            </case>
                            <case value="date">
                                <input type="text" name="{$field.name}" class="text date" value="" placeholder="请选择日期" />
                            </case>
                            <case value="datetime">
                                <input type="text" name="{$field.name}" class="text time" value="" placeholder="请选择时间" />
                            </case>
                            <case value="bool">
                                <select name="{$field.name}">
                                    <volist name=":parse_diyform_field_attr($field['extra'])" id="vo">
                                        <option value="{$key}" <eq name="field.value" value="$key">selected</eq>>{$vo}</option>
                                    </volist>
                                </select>
                            </case>
                            <case value="select">
                                <select name="{$field.name}">
                                    <volist name=":parse_diyform_field_attr($field['extra'])" id="vo">
                                        <option value="{$key}" <eq name="field.value" value="$key">selected</eq>>{$vo}</option>
                                    </volist>
                                </select>
                            </case>
                            <case value="radio">
                                <volist name=":parse_diyform_field_attr($field['extra'])" id="vo">
                                	<label class="radio">
                                    <input type="radio" value="{$key}" <eq name="field.value" value="$key">checked</eq> name="{$field.name}">{$vo}
                                	</label>
                                </volist>
                            </case>
                            <case value="checkbox">
                                <volist name=":parse_diyform_field_attr($field['extra'])" id="vo">
                                	<label class="checkbox">
                                    <input type="checkbox" value="{$key}" name="{$field.name}[]" <eq name="field.value" value="$key">checked</eq>>{$vo}
                                	</label>
                                </volist>
                            </case>
                            <case value="editor">
                                <label class="textarea">
                                <textarea name="{$field.name}">{$field.value}</textarea>
                                {:hook('adminArticleEdit', array('name'=>$field['name'],'value'=>$field['value']))}
                                </label>
                            </case>
                            <default/>
                            <input type="text" class="text input-large" name="{$field.name}" value="{$field.value}">
                        </switch>
                    </div>
                </div>
                </if>
            </volist>
        </div>
		</volist>
        <if condition='$open_verify eq 1'>
        <div class="form-item cf">
            <label class="item-label">验证码</label>
            <div class="controls">
                <input type="text" class="text input-small" autocomplete="off" placeholder="请填写验证码" name="verify"><a href="javascript:void(0)" title="换一张" class="reloadverify">换一张？</a>
            </div>
        </div>
		<div class="form-item cf">
            <div>
                <img src='{:addons_url("Diyform://HomeDiyform/verify", array("form_id" => $form_id))}' alt="点击切换" class="verifyimg reloadverify">
            </div>
		</div>
        </if>
		<div class="form-item cf">
        	
			<button class="btn submit-btn hidden" id="submit" type="submit" target-form="form-horizontal">提 交</button>
			<input type="hidden" name="form_id" value="{$form_id}"/>
			<input type="hidden" name="diyformtoken" value="{$diyformtoken}"/>
		</div>
	</form>
	</div>
</div>
<link href="__STATIC__/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
//刷新验证码
var verifyimg = $(".verifyimg").attr("src");
$(".reloadverify").click(function(){
	if( verifyimg.indexOf('?')>0){
		$(".verifyimg").attr("src", verifyimg+'&random='+Math.random());
	}else{
		$(".verifyimg").attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
	}
});
$('#submit').click(function(){
	$('#form').submit();
});
$(function(){
    $('.date').datetimepicker({
        format: 'yyyy-mm-dd',
        language:"zh-CN",
        minView:2,
        autoclose:true
    });
    $('.time').datetimepicker({
        format: 'yyyy-mm-dd hh:ii',
        language:"zh-CN",
        minView:2,
        autoclose:true
    });
    showTab();
});
</script>
</body>
</html>