.comment-box .comments .comment,.comments > header{
	border:none;
	font-weight:normal;
}
.comment-box .comments > header {
	padding-left:10px;
}
.comment-box .comment-reply{
	font-weight:normal;
	margin:0px;
}
.comment-box .avatar {
    float: left;
    width: 64px;
    height: 64px;
	line-height:64px;
	margin:0px;
	background-color:#f1f1f1;
	color:#fdfdfd;
	text-align:center;
	border-radius:50%;
}
.comment-box .avatar + .content {
    padding-left: 0px;
}
.comment-box .comments .comment >.content .author,
.comment-box .comments .comment >.content .text{
    text-indent:10px;
}
.comment-box .comments .comment >.content .text-muted{
	font-size:12px;
}

.comment-form{
	padding-top:20px;
}
.comment-box .comment-form-header{
	padding-bottom:20px;
	display:block;
	float:left;
}
.comment-box .comment-form-header span{
	padding-left:10px;
	display:block;
	float:left;
}

.comment-pagination {}
.comment-pagination li{}
.comment-pagination li a:hover{text-decoration:none; background-color:#dedede;}
.comment-pagination li a{ border:none; background:#eee;}
.comment-pagination li.active a {}
.comment-pagination li.total a {background-color:#eee;}