.comment-box .comments > header{
	font-weight:normal;
	border:none;
}
.comment-box .comments .comment{
	font-weight:normal;
	border:none;
}
.comment-box .comments > header {
}
.comment-box .comments > header > h3{
	font-size:16px;
	padding:8px;
}
.comment-box .comments > footer {
	padding:0px;
}
.comment-box .comment-reply{
	font-weight:normal;
	margin:0px;
}
.comment-box .comment-form-header .avatar{
	left:13px;
}
.comment-box .avatar {	
    position:relative;
    float: left;
    width: 68px;
    height: 68px;
	margin:0px;
	background:none;
	color:#fdfdfd;
	text-align:center;
	border-radius:50%;
	padding:0px;
	overflow:hidden;
	top:15px;
	left:8px;
}
.comment-box .avatar img{
	max-width:100%;
}
.comment-box .avatar + .content {
	padding:10px;
	margin:0px;
	min-height:60px;
	left:0px;
	top:0px;
}
.comment-box .comments .comment >.content{
	left:15px;
}
.comment-box .comments .comment >.content .author,
.comment-box .comments .comment >.content .text{
    text-indent:10px;
}
.comment-box .comments .comment >.content .text{
	padding-bottom:8px;
}
.comment-box .comments .comment >.content .author a{
	font-weight:normal;
}
.comment-box .comments .comment >.content span{
	font-weight:normal;
}
.comment-box .comments .comment >.content .actions{
	position:relative;
	float:left;
	width:100%;
}
.comment-box .comments .comment >.content .quote{
	position:relative;
	float:right;
}
.comment-box .comment-form footer {
	padding-left:46px;
}
.comment-box .comment-form footer h4{
	text-indent:0px;
	padding-bottom:8px;
}
.comment-box .comment-form textarea{
}
.comment-box .comment-form button[type='submit']{
}
.comment-box .comment-form .comment-verify-img{
	border:solid 1px #eee;
	width:230px;
	height:70px;
	cursor:pointer;
}
.comment-box .comment-form-header{
	display:block;
	float:left;
	padding-bottom:10px;
}

.comment-box .comment-pagination {}
.comment-box .comment-pagination li{}
.comment-box .comment-pagination li a:hover{
	color:#666;
	text-decoration:none; 
	background-color:#dedede;
}
.comment-box .comment-pagination li a{ 
border:none; background:#eee; 
}
.comment-box .comment-pagination li.active a,
.comment-box .comment-pagination li.active a:hover {
	background-color:#bbb;
	color:#fff;
}
.comment-box .comment-pagination li.total a {background-color:#eee; cursor:default;}
