<extend name="Public/base"/>

<block name="body">
	<script type="text/javascript" src="__STATIC__/uploadify/jquery.uploadify.min.js"></script>
	<div class="main-title cf">
		<h2><if condition="I('get._action') eq 'add'">新增<else/>编辑</if>广告</h2>
	</div>
	<!-- 表单 -->
	<form id="form" action="{:addons_url('Advertising://Advertisement/update')}" method="post" class="form-horizontal">
		<!-- 基础文档模型 -->
		<div id="tab1" class="tab-pane in tab1">
			<div class="form-item cf">
				<label class="item-label">广告名称<span class="check-tips">（请输入广告显示名称）</span></label>
				<div class="controls">
					<input type="text" class="text input-large" name="title" value="{$info.title}">
				</div>
			</div>
			<div class="form-item cf">
				<label class="item-label">广告位置<span class="check-tips">（请选择广告位置,选择之后展开图片、文字、代码区域）</span></label>
				<div class="controls">
		            <select name="position" id="mySelect">
		                 <option value=""  data-type="">请选择位置</option>
		                 <if condition="I('get._action') eq 'add'"> 
                         
                         <volist name="_advertising" id="so">
		                  	<option value="{$so.id}" data-type="{$so.type}" <if condition="$so['id'] eq I('get.position')">selected</if> >{$so.title}</option> 
		                 </volist> 
                          
                         <else/>
                         
                         <volist name="_advertising" id="so">
		                  	<option value="{$so.id}" data-type="{$so.type}" <if condition="$so['id'] eq $info['position']">selected</if> >{$so.title}</option> 
		                 </volist>  

                        </if>
		            </select>
				</div>
			</div>	
            
            <div class="form-item cf" id="type1" style="display:none;">
				<label class="item-label">广告文字<span class="check-tips">（请填写广告文字）</span></label>
	            <div class="controls">
                <label class="textarea">
					<textarea rows="3" cols="54" name="advstext">{$info.advstext}</textarea>
                </label>
				</div>
			</div>		
			
			<div class="form-item cf" id="type2" style="display:none;">
				<label class="item-label">广告图片<span class="check-tips">（请上传广告图片）</span></label>
	            <div class="controls">
					<input type="file" id="upload_picture_advspic">
					<input type="hidden" name="advspic" id="cover_id_advspic" value="{$info.advspic}"/>
					<div class="upload-img-box">
						<notempty name="info['advspic']"><div class="upload-pre-item"><img src="__ROOT__{$info.path}"/></div></notempty>
					</div>
				</div>
				<script type="text/javascript">
				//上传图片
			    /* 初始化上传插件 */
				$("#upload_picture_advspic").uploadify({
			        "height"          : 30,
			        "swf"             : "__STATIC__/uploadify/uploadify.swf",
			        "fileObjName"     : "download",
			        "buttonText"      : "上传图片",
			        "uploader"        : "{:U('File/uploadPicture',array('session_id'=>session_id()))}",
			        "width"           : 120,
			        'removeTimeout'	  : 1,
			        'fileTypeExts'	  : '*.jpg; *.png; *.gif;',
			        "onUploadSuccess" : uploadPicture{$field.name},
			        'onFallback' : function() {
			            alert('未检测到兼容版本的Flash.');
			        }
			    });
				function uploadPicture{$field.name}(file, data){
			    	var data = $.parseJSON(data);
			    	var src = '';
			        if(data.status){
			        	$("#cover_id_advspic").val(data.id);
			        	src = data.url || data.path
			        	$("#cover_id_advspic").parent().find('.upload-img-box').html(
			        		'<div class="upload-pre-item"><img src="__ROOT__' + src + '"/></div>'
			        	);
			        } else {
			        	updateAlert(data.info);
			        	setTimeout(function(){
			                $('#top-alert').find('button').click();
			                $(that).removeClass('disabled').prop('disabled',false);
			            },1500);
			        }
			    }
				</script>
			</div>	
				
			<div class="form-item cf" id="type3" style="display:none;">
				<label class="item-label">广告代码<span class="check-tips">（请填写广告代码html、js）</span></label>
	            <div class="controls">
                    <label class="textarea">
                    <textarea name="advshtml">{$field.value}</textarea>
                    {:hook('adminArticleEdit', array('name'=>'advshtml','value'=>$info['advshtml']))}
                    </label>
				</div>
			</div>						
							
			<div class="form-item cf">
				<label class="item-label">外链地址<span class="check-tips">（请填写带http://的全路径）</span></label>
				<div class="controls">
					<input type="text" class="text input-large" name="link" value="{$info.link}">
				</div>
			</div>
            <div class="form-item cf">
				<label class="item-label">永久有效<span class="check-tips">（广告永久有效不做时间限制，忽略起止时间。）</span></label>
				<div class="controls">
					<label class="checkbox"><input type="radio" name="is_never" value="1" <if condition="$info.is_never eq 1">checked="checked"</if> ">是</label>
					<label class="checkbox"><input type="radio" name="is_never" value="0" <if condition="$info.is_never eq 0">checked="checked"</if> ">否</label>
				</div>
			</div>
			<div class="form-item cf">
				<label class="item-label">开始时间</label>
				<div class="controls">
					<input type="text" name="create_time" class="text input-large time" value="{$info.create_time}" placeholder="请选择时间" />
				</div>
			</div>
			<div class="form-item cf">
				<label class="item-label">结束时间</label>
				<div class="controls">
					<input type="text" name="end_time" class="text input-large time" value="{$info.end_time}" placeholder="请选择时间" />
				</div>
			</div>
			<div class="form-item cf">
				<label class="item-label">优先级</label>
				<div class="controls">
					<input type="text" class="text input-large" name="level" value="{$info.level}">
				</div>
			</div>
		</div>
		<input type="hidden" name="id" value="{$info.id}"/>
		<div class="form-item cf">
			<button class="btn submit-btn ajax-post hidden" id="submit" type="submit" target-form="form-horizontal">确 定</button>
            <button onclick="javascript:history.back(-1);return false;" class="btn btn-return">返回</button> 
		</div>
	</form>
</block>

<block name="script">
<php>
if(C('COLOR_STYLE')=='blue_color'){
echo '<link href="__STATIC__/bootstrap/2.x/lib/datetimepicker/css/datetimepicker_blue.css" rel="stylesheet" type="text/css">';
}else{
echo '<link href="__STATIC__/bootstrap/2.x/lib/datetimepicker/css/datetimepicker.css" rel="stylesheet" type="text/css">';
}
</php>
<link href="__STATIC__/bootstrap/2.x/lib/datetimepicker/css/dropdown.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/bootstrap/2.x/lib/datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__STATIC__/bootstrap/2.x/lib/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript">
	
/*广告位*/

function select_change(_type){
			  
	_type = (_type&&!isNaN(_type))?_type:$('#mySelect option:selected').data("type");
	 
	$('#type1,#type2,#type3').css('display','none');
	
	switch(_type){
		
		case 1: //图片广告文字广告
			
			$('#type1').css('display','block');
			
		break;
		
		case 2: //图片广告
		
			$('#type2').css('display','block');
			
		break;
		
		case 3: //代码广告
		
			$('#type3').css('display','block');
			
		break;
		
		default:
			
		break;
		
	}
	
}

select_change({$info['type']});

$('#mySelect').change(select_change);

/*表单*/

$('#submit').click(function(){
	$('#form').submit();
});	

/*日期选择*/

$('.time').datetimepicker({
	format: 'yyyy-mm-dd hh:ii',
	language:"zh-CN",
	minView:1,
	autoclose:true,

});

/* 左边菜单高亮 */
//var $subnav = $("#subnav");
//url = {$current};
//url = url.replace(/(\/(p)\/\d+)|(&p=\d+)|(\/(id)\/\d+)|(&id=\d+)|(\/(group)\/\d+)|(&group=\d+)/, "");
//$subnav.find("a[href='" + url + "']").parent().addClass("current");	
	
</script>
</block>