<extend name="Base/common" />
<block name="style">
<link rel="stylesheet" href="__ADDONS__/jcrop/css/jquery.Jcrop.css" type="text/css" />
<style type="text/css">
  .jcrop-holder > div > div ,.preview-container {
	  border-radius: 50%;
  }
  #target {
    background-color: #ccc;
    width: 500px;
    height: 370px;
    font-size: 24px;
    display: block;
  }

/* The Javascript code will set the aspect ratio of the crop
   area based on the size of the thumbnail preview,
   specified here */
.preview-container {
  width: 128px;
  height: 128px;
  overflow: hidden;
}
</style>
</block>
<block name="header">
<header>
  <div class="container text-center" style="padding-bottom:20px;">
    <h2>头像设置</h2>
  </div>
</header>
</block>
<block name="body">

<div class="center-block col-md-10">
    <!--卡片-->
     <div class="row col-lg-7 col-md-7" id="crop_box">
        <img width="100%" height="100%"  src="__ADDONS__/jcrop/img/pool.jpg" id="crop_box_img" />
      </div>
                            
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1">
            
            <div class="col-lg-12 col-md-12 visible-md visible-lg" style="padding:0px;"> 
            <div id="preview-container" class="preview-container"> 
            <img src="__ADDONS__/jcrop/img/pool.jpg"  id="preview" class="jcrop-preview" alt="Preview" /> 
            </div>
            </div> 
            
            <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12 "  style="padding:0px;padding-top:10px;"> 
            <form action="" method="post" class="row " style="padding:0px;">
              <input type="hidden" id="x" name="x" />
              <input type="hidden" id="y" name="y" />
              <input type="hidden" id="w" name="w" />
              <input type="hidden" id="h" name="h" />
              <button type="submit" class="btn btn-lg btn-warning col-sm-12 col-xs-12" >Crop Image</button>
            </form>
            </div>
              
        </div>
</div>



</block>

<block name="script">
<script type="text/javascript" src="__STATIC__/jquery-migrate-1.2.1.min.js"></script>
<script src="__ADDONS__/jcrop/js/jquery.Jcrop.js"></script>
<script type="text/javascript">

  $(function(){
			 
	   var pcnt = $('#preview-container'),
        pimg=$('#preview'),xs = pcnt.width(),
        ys= pcnt.height(),cache_coords={w:0,h:0,x:0,y:0};
	  /*$('#crop_box_img').Jcrop({
		aspectRatio: xs/ys,
		onChange: updatePreview,
		onSelect: updatePreview
	  });*/
	  
	  $(window).resize(function(){
		 updatePreview(cache_coords);
	  });

	  function updateCoords(c)
	  {
		$('#x').val(c.x);
		$('#y').val(c.y);
		$('#w').val(c.w);
		$('#h').val(c.h);
	  };
  
	  function updatePreview(coords)
	  {
		  var rx = xs / coords.w;
		  var ry = ys / coords.h;
		  
		  cache_coords=coords;
	  
		  pimg.css({
			  width: Math.round(rx * $("#crop_box_img").width()) + 'px',
			  height: Math.round(ry * $("#crop_box_img").height()) + 'px',
			  marginLeft: '-' + Math.round(rx * coords.x) + 'px',
			  marginTop: '-' + Math.round(ry * coords.y) + 'px'
		  });
		  
		  updateCoords(coords);
	  }
  
  });

</script>
</block>