<extend name="Base/common" />
<block name="style">
<link rel="stylesheet" href="__STATIC__/jcrop/css/jquery.Jcrop.css" type="text/css" />
<link rel="stylesheet" href="__STATIC__/webuploader/webuploader.css" type="text/css" />
<style type="text/css">
  .jcrop-holder > div > div ,.preview-container {
	  border-radius: 50%;
  }
/* The Javascript code will set the aspect ratio of the crop
   area based on the size of the thumbnail preview,
   specified here */
.preview-container{
  width: 128px;
  height: 128px;
  overflow: hidden;
}
.preview-container img{
 max-width: none;
}
.jcrop-img-box{
	background-color:#eee;
	padding:0px;
	margin:0px;
	min-height:320px;
	_height:320px;
}
.jcrop-img-box .alert{
	margin:0px;
	opacity:0.75;
	position:relative;
	left:0px;
	top:0;
	z-index:10;
	width:100%;
	text-align:center;
}
.jcrop-img-box img{
	width:100%;
	height:auto;
}
.webuploader-pick,.webuploader-pick-hover{
	width:100%;
	height:100%;
	margin:0px;
	border-radius: 0px;
	background:none;
	max-width:none;
}
</style>
</block>
<block name="header">

<header>

  <div class="container text-center" style="padding-bottom:20px;">
    <h2>头像设置 </h2>
  </div>
  
</header>

</block>

<block name="body">

<div class="center-block col-md-12">
     
    <div class="row col-md-3">
            
            <div class="visible-md visible-lg  " style="padding:0px;"> 
            <div id="preview-container-{$UID}" class="preview-container col-md-offset-1" style="background-color:#e5e5e5;"> 
            
            <img src="{:get_avatar(UID)['path']}" />
            
            </div>
            </div> 
            
            <div class="col-md-8" style="padding:0px;padding-top:10px;"> 
               <div id="upload_avatar_{$UID}" class="btn btn-lg btn-warning col-md-12 col-xs-6" style="height:41px;overflow:hidden;margin-bottom:10px; margin-top:10px;padding:0px ">选择图片</div> 
               <div data-role="avatar_btn" class="btn btn-lg btn-danger col-md-12 col-xs-6" style="margin-bottom:10px; margin-top:10px;">提交头像</div>
            </div>
          
      </div>

     <div class="row col-md-9 jcrop-img-box" >
         <div id="upload_avatar_{$UID}_alert" class="alert alert-lg alert-info">请选择图片</div>
         <span id="crop_box_{$UID}"></span>
     </div>
                 
</div>

</block>

<block name="script">
<script type="text/javascript" src="__STATIC__/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="__STATIC__/webuploader/webuploader.js"></script>
<script src="__STATIC__/jcrop/js/jquery.Jcrop.js"></script>
<script type="text/javascript">
	
$(function () {
	var crop=null;
	var jcrop_api=null;
	var boundx, boundy;
	var path;
	var pcnt=$('#preview-container-{$UID}'),xs = pcnt.width(),ys= pcnt.height();
	var uploader_{$UID}= WebUploader.create({
		// 选完文件后，是否自动上传。
		auto: true,
		// swf文件路径
		swf: 'Uploader.swf',
		// 文件接收服务端。
		server: "{:U('avatar',array('uid'=>UID,'session_id'=>session_id()))}",
		// 选择文件的按钮。可选。
		// 内部根据当前运行是创建，可能是input元素，也可能是flash.
		pick: '#upload_avatar_{$UID}',
		// 只允许选择图片文件。
		accept: {
			title: 'Images',
			extensions: 'gif,jpg,jpeg,bmp,png',
			mimeTypes: 'image/*'
		}
	});
	uploader_{$UID}.on('fileQueued', function (file) {
		uploader_{$UID}.upload();
	});
	/*进度*/
	uploader_{$UID}.on('uploadProgress', function (file,percent) {
		$('#upload_avatar_{$UID}_alert').text(Math.ceil(percent*100)+'%');									  
	});
	/*上传成功*/
	uploader_{$UID}.on('uploadSuccess', function (file, ret) {
		
		if (ret.status == 0) {
			$.zui.messager.danger(ret.info,{placement:'center'});
			$('#upload_avatar_{$UID}_alert').text(ret.info);		
		} else {
			var src = ret.url || '__ROOT__' + ret.path;
			if(path!=src){
				path =src;
				src=src+'?t='+new Date().getTime();
				$("#crop_box_{$UID}").html('');
				$("#crop_box_{$UID}").html('<img src="'+src+'">');
				$("#preview-container-{$UID}").html('<img src="'+src+'">');
				$("#crop_box_{$UID} img").load(function (){
					crop_init(src+'?t='+new Date().getTime());
				});
				$('#upload_avatar_{$UID}_alert').text('请剪裁图片');		
			}else{
				$.zui.messager.danger('你选择了同样的图片',{placement:'center'});
				$('#upload_avatar_{$UID}_alert').text('请剪裁图片');
			}
			//重置队列
			uploader_{$UID}.reset();
		}
	});
	
	/*出错*/
	uploader_{$UID}.on('uploadError', function (file,reason) {
		$('#upload_avatar_{$UID}_alert').text(reason);									  
	});
	
	function crop_init(src){
		
	   $("#crop_box_{$UID} >img").Jcrop({
			aspectRatio: 1,
			onChange: updatePreview,
			onSelect: updatePreview,
			minSize: [10, 10],
			setSelect:[0, 0, 256, 256]
		}, function () {
			var bounds = this.getBounds();
			boundx = bounds[0];
			boundy = bounds[1];
			jcrop_api = this;
			crop = jcrop_api.tellScaled();
			updatePreview(crop);
		});
			
	}
	
	function updatePreview(c){
		crop=c;
		var rx = xs / c.w;
		var ry = ys / c.h;
		$("#preview-container-{$UID} >img").css({
			width: Math.round(rx * $("#crop_box_{$UID} >img").width()) + 'px',
			height: Math.round(ry * $("#crop_box_{$UID} >img").height()) + 'px',
			marginLeft: '-' + Math.round(rx * c.x) + 'px',
			marginTop: '-' + Math.round(ry * c.y) + 'px',
			display:'block'
		});
		
	}
	
	$(window).resize(function(){
							  
	   $(".webuploader-pick+div").width('100%');
	   
	   if(!!crop){
           jcrop_api.destroy();
		   crop_init(path);
	   }
	   
	});
    
	$('[data-role=avatar_btn]').click(function(){
		//检查是否已经裁剪过
		if (!crop) {
			 $.zui.messager.danger('请上传头像并裁剪',{placement:'center'});
			return;
		}
		else{
			var the_crop = crop.x / boundx + ',' + crop.y / boundy + ',' + crop.w / boundx + ',' + crop.h / boundy;
		}
		
		$('#upload_avatar_{$UID}_alert').text('正在剪裁图片……');		
		
		//提交到服务器
		var url = "{:U('avatar',array('uid'=>UID,'session_id'=>session_id()))}";
		$.post(url, {crop:the_crop,path:path,saveImgSize:'128,128'}, function (res) {
				 $.zui.messager.danger(res.info,{placement:'center'});
				 (!!crop)&&(jcrop_api.destroy());
				 $("#crop_box_{$UID}").html('');
				 $('#upload_avatar_{$UID}_alert').text('还要做点什么？');		
				 crop=null;
		});

	})
})

</script>

</block>