
<div class="row comment-box">
        
      <div class="comments row col-md-12">
          <header> 
            <h3 class="row">
            <i class="icon icon-quote-left icon-lg text-info"></i>&nbsp;&nbsp;评论 ( {$_data['count']} )&nbsp;&nbsp;  
             </h3>     
          </header> 
          <section class="comments-list">
          <foreach name="_data._list" item="item" key="k" >
            <div class="comment">
              <a href="#" class="avatar"><i class="icon-user icon-2x"></i></a>
              <div class="content">          
              
              <div class="author">
                 <a href="#">{$item['username']==''?'游客':$item['username']}</a>
                 <span class="text-muted pull-right">{$item['create_time']|time_format} </span>
              </div>
                
                <div class="text">{$item['content']}</div>
                
                <div class="actions pull-right">
                
                  <a href="#"> <div class="quote" data-pid="{$item['id']}"><a href="#quote"> <i class="icon icon-pencil text-muted"></i>&nbsp;回复</a></div></a>
                  
                </div>
                
              </div>
            </div> 
            </foreach>
          </section>
          <footer>
              <ul class=" row pager pager-loose comment-pagination">{$_data['_page']}</ul>
          </footer>

      </div>
            
      <div class="comment-form" id="comment-reply-form">
      
            <php> if ($_config['comment_enable'] == 0) { </php>
            
                <div class="alert alert-warning text-center">评论已经被关闭</div>
                
            <php>  } elseif ($_config['comment_need_login'] == 1 && is_login() === 0) {</php>
                
                <div class="alert alert-info text-center">登录后才可以评论</div>
                
            <php> } else { </php>
            
            <header class="comment-form-header">
            
            <a href="#" class="avatar"><i class="icon-user icon-2x"></i></a>
             <span>
                <h4>{$_data['nickname']|default='游客'} </h4>你好，说点什么吧：
            </span>
            
            </header>
            
            <footer>
                <form class="comment-form" action="{:addons_url('Comment://Comment/submit','',C('DEFAULT_MODULE'))}">
                   
                   <foreach name="_data.form_hidden_field" item="item" key="k">
                    
                    <input type="hidden" name="{$k}" value="{$item}" />
                    
                    </foreach>
                    
                    <div class="form-group">
                        <textarea name="content" name="content" style="width:100%;" rows="5"></textarea>
                    </div>
                    
                    <eq name="_config.comment_verify" value="1" >
                    
                    <div class="form-group">
                      <label for="verifyCode">验证码</label>
                      <div>
                        <input type="text" class="input input-lg" name="verify_code" id="verify_code" />
                      </div>
                    </div>
                    <div class="form-group ">
                           <img  class="comment-verify-img" src="{:addons_url('Comment://Comment/verifyCode','',C('DEFAULT_MODULE'))}" />
                    </div>
                    
                    </eq>
              
                    <div class="form-group">
                    <button type="submit" class="btn btn-lg btn-info">提交</button>
                    </div>
                          
                </form>
             </footer>
             
            <php>}</php>
            
        </div>
    
</div>