    .subscribe_btn,.subscribe_btn_box{
        z-index: 999;
        position: fixed;
        width: 48px;
        bottom: 90px;
        height: 30px;
        line-height: 30px;
        display: block;
        right: 50px;
        text-align: center;
        background-color: rgb(158, 158, 158);
        color: #fff;
		cursor:pointer;
    }

    a.subscribe_btn:hover,a.subscribe_btn:focus,a.subscribe_btn:active{
        background-color: rgb(133, 133, 133);
        color: #fff
    }
	.subscribe_box{
		width:300px;
	}
